<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StudyDrive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6FFF32B1CD2539600C9FA7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6FFF3441CD2539700C9FA7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6FFF34F1CD2539700C9FA7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
